<nav class="teal">
    <div class="nav-wrapper">
        <a href="/"
           class="brand-logo"><i class="fas fa-home"></i></a>
        <a data-target="slide-out" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
    </div>
</nav>

<ul id="slide-out"
    class="sidenav sidenav-fixed">
    <li class="logo">
        <img src="/images/warhammer_v3_logo.png"
             alt="WarhammerV3 image" />
    </li>
    <li><a href="/actions"><i class="fas fa-fist-raised"></i>Actions</a></li>
    <li><a href="/skills"><i class="fas fa-graduation-cap"></i>Skills</a></li>
</ul>
